h1 {
    color: White;
}
h2 {
    color: white;
}
h3 {
    color: white;
}

body {
    background-color: skyblue;
}

p {
    color: white;
}

table{
    border: 5px solid black;
    background: white;
}

caption{
    font-size: 3em;
}
th{
    border: 2px solid black;
    height: 2em;
}

td{
   border: 2px solid black;
    padding: .2em;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
}