h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
    font-size: 22px;
}

body {
    background-color: skyblue;
    font-family: Times, sans-serif;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    color: black;
    font-size: 16px;
    
}

table{
    border: 5px solid black;
    background: white;
    width 40%;
    margin-left: 30%;
    margin-right: 30%;
    
}

caption{
    font-size: 3em;
}
th{
    border: 2px solid black;
    height: 2em;
}

td{
   border: 2px solid black;
    padding: .2em;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
}
img{ 
    width: 300px;
    height: 200px
}
div{
      
}